<h3>
    My Profiles
</h3>
<div class = 'contact-links'>
    <i class="fa fa-github fa-2x" aria-hidden="true"> 
        <a href = 'https://www.Github.com/iatenine'
        target="_blank"> Github</a>
    </i>
    <i class="fa fa-twitter fa-2x" aria-hidden="true">
        <a href = 'https://www.Twitter.com/JackLinhart'
        target="_blank"> Twitter</a>
    </i>
    <i class="fa fa-linkedin fa-2x" aria-hidden="true">
        <a href = 'https://www.linkedin.com/in/jack-linhart-55519819/'
        target="_blank"> LinkedIn</a>
    </i>
</div>