<div>
	<i class="fa fa-wrench fa-5x" id ='bg-element'></i>
<h3>
	<i class="fa fa-globe fa-2x" aria-hidden="true"></i>
	Web Frameworks
</h3>
<ul>
	<li id = 'angular-li'>
		Angular
	</li>
	<li>Django</li>
	<li>NestJS - Backend</li>
	<li>React - Frontend</li>
	<li>WordPress</li>
</ul>

<h3>
	<i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
	Operating Environments
</h3>
<ul>
	<li>
		Ubuntu
	</li>
	<li>
		Debian
	</li>
	<li>
		Windows
	</li>
</ul>

<h3>
	<i class="fa fa-code fa-2x" aria-hidden="true"></i>
	Languages
</h3>
<ul>
	<li>Web Stack (HTML5, CSS3, ES6)</li>
	<li>Typescript</li>
	<li>Javascript</li>
	<li>Python</li>
	<li>Java</li>
	<li>C++</li>
	<li>Gdscript</li>
</ul>

</div>