<div id = 'section-container'>
	<i class="fa fa-code-fork fa-5x" id ='bg-element'></i>
<div id = 'project-container' *ngFor = 'let project of getProjects()'>
	<div  ngClass = {{project.class}}>
		<h3> {{ project.title }} </h3>
		<aside><em>{{ project.subtitle }}</em></aside>
		<section>
			{{ project.description }}
		</section>
		<details>
			<summary>
				Tech Stack
			</summary>
			<ul *ngFor = 'let tech of project.stack'>
				<li>
					{{tech.name}}
				</li>
			</ul>
		</details>
		<section><a href= "{{ project.link }}" target="_blank">View Project</a></section>
	</div>
</div>
</div>