nav{
	display: flex;
	width: 98.5%;
	background-color: var(--nav-bg-color);
	justify-content: flex-start;
}

.links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  li a {
	display: inline-block;
	text-align: center;
	margin-right: auto;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: var(--hover-bg);
  }